
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');



* {
  font-family: 'Roboto', sans-serif;
  
}
h1{

  font-size: 46px;
  font-weight: 900;
}

p{

  color: #666666;
}

a{

  color: #2962ff;
  font-weight: bold;
}


/* _________________________________________________wrapper */

.wrapper-grid-home {
   
    display: grid;
    position: relative;
    grid-template-rows:  auto 1fr auto  ;
    
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ; 
    width: 100%;
    height: auto;
    /* border: 2px solid red ;  */
    
  }

/* _________________________________________________blocks */

.header{
  grid-area: header;
  /* z-index: 4;
  
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.64); */

}

.main{

  grid-area: main;
  z-index: 0;
  display: grid;
  margin-top: 32px ;

  grid-template-columns: auto;
  grid-template-rows:  auto auto ;
  grid-template-areas: 
    
    "left-side "
    "right-side"
    ;
    
  background-color: #2962ff;
}

.footer{

  grid-area: footer;
  z-index: 2; 
  width: 100%;
  
  height: auto;
  background-color: rgb(39, 39, 39);
  padding: 16px 0; 
  background-color: #252525;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.64);

}



.main-left{
  z-index: 1;

  background-color:white;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.32); 

}

.main-right{
 
  
  height: auto;

  background-color: #e7e7e7;
  

}

/* _________________________________________________styles */

.main--style{

  padding: 16px 16px 32px 16px;

}


.main-right__txt{

  padding: 0;
  margin: 0;
}

.main-right__title{
  padding: 32px 0 32px 0;

  display: block;
  margin-top: 4%;  
  color: #666666 ;   
 
  align-items: center;
  align-self: center;
  font-weight: 900;
  font-size: 18px;
  }




/* _________________________________________________menu */

.header {
  background-color: #fff;
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,.4);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;

}

.header ul {
  margin: 0;
  padding: 0 8px;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  color: black;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  padding: 20px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    
  }
  .header .menu-icon {
    display: none;
  }
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    
  }
  .header .menu-icon {
    display: none;
  }
}



/* _________________________________________________footer */


.footer__logo{

  width: 100px;
  height: 20px;
  padding: 0 48px 0 0;
  margin:  0 0 16px 0;

}

.footer__menu{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  text-decoration: none;
  margin:  0 ;
  padding: 0;

}

.footer__menu ul{

list-style-type: none;
padding: 0 32px 16px 0;
margin: 0; 

}
.footer__menu  li  {

  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.footer__menu a{

  text-decoration-line: none;
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;       
}

.footer__menu p{
color: white;
opacity: 50%;
font-size: 14px;
padding: 0 0 16px 0;
margin: 0;
       
}

.footer__social{

width: 200px;
color:white;
font-size: 10px;


}

  

.fa {
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
  
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
 
  background:white;
  color: black;
}

.fa-twitter {
  
  background:white;
  color: black;

}
.fa-instagram {

  background:white;
  color: black;

}

.wrapper-footer-grid-flex {

display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: auto;
padding: 0 5%;

}






/* _________________________________________________details */

details {

  width: auto;
  display: block; 
  outline-style: none; 
   
  
  padding-top: 2px;
  padding-left: 4%;
  padding-bottom: 2px;
  padding-right: 4%;
  
  background-color: white;
  cursor: text;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
  border-radius: 8px; 

}

details ul {

  color: black;
  padding: 0 16px;

}

details:hover {

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.52);
  color: #2962ff;


}

 /* Delate markers in detals  */

details summary {
  display: block;
  outline-style: none;
  cursor: pointer;
  
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::before {
  content: none;
}
details[open] summary::before {
  content: none;
}



/* Opacity p */

details[open] p, li, b{
  animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}








/* _________________________________________________media */


@media all and (min-width: 600px){

  .main{
    
    grid-template-columns: 65% 35%;
    
    grid-template-areas: 
    "left-side right-side"
    ;
  }


  .main--style {

    padding: 32px 10%;

  }


  .main-left{
    overflow: auto;
    height: 100vh;
 
    
  }

  .main-right{
    
    overflow: auto;
    height: 100vh;
    
  
}

}






::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2962ff; 
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f2bc1b; 
}


