

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

  }
  P{

    color:#666666;
  }

  a {
    color:#2962ff;
  }

  
  /* _______________________wrappers */

.grid-home{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas:
    "header"
    "information"
    "categories"
    "popular"
    "footer" ;
    height: 100vh;
}
   



.grid-flex-home {
    display:flex;
    padding: 0 5%;
    justify-content: flex-start;
    flex-wrap: wrap;
}




.footer-grid-flex {

  display:flex;
  justify-content: space-between;
  padding: 0 5%;
  flex-wrap: wrap;

}


/* _______________________blocks */

.header{

    grid-area: header;

}

.information{
    grid-area: information;

    width: 100%;
    background-color: white;
    padding: 0 0 32px 0;

}

.categories{
    grid-area: categories;
    width: 100%;
    background-color: #2962ff;
    box-shadow: 0px 0px 24px 0 rgba(0,0,0,.6);
    border-radius: 0 32px 0 0;

}


.popular{
    grid-area: popular;
    width: 100%;
    height: auto;
    background-color:whitesmoke;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,.4);
    

  
}

.footer{
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: rgb(39, 39, 39);
    padding: 16px 0;   

}



/* _______________________information */

.information__image{

    
    height:100%;
    padding: 64px 0 0 0px;
    
    }

.information__image img{
    margin: 0;
    padding: 0;
    width: 100%;
   
  

}

.information__txt{
  

    width: 100%;
    padding: 32px 0 0 0;

}

/* _____________________footer */

.footer__logo{

    width: 100px;
    height: 20px;
    padding: 0 48px 0 0;
    margin:  0 0 16px 0;

}

.footer__menu{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    text-decoration: none;
    margin:  0 ;
    padding: 0;

}
.footer__menu ul{

  list-style-type: none;
  padding: 0 32px 16px 0;
  margin: 0; 
}
.footer__menu  li  {

    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.footer__menu a{

    text-decoration-line: none;
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;       
}
.footer__menu p{

  
  color: white;
  opacity: 50%;
  font-size: 14px;
  padding: 0 0 16px 0;
  margin: 0;
         
}

.footer__social p{

color:white;
font-size: 10px;
}



.footer__social{
    
   width: 200px;
}


.fa {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px;
    width: 14px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background:white;
    color: black;
  }

  .fa-twitter {
    background:white;
    color: black;

  }
  .fa-instagram {
    background:white;
    color: black;

  }



  /* _______________________categories */

      .chip{
        margin: 0px 14px 14px 0px;
        display: inline-flex;
        flex-direction: row;
        border: none;
        cursor: pointer;
        height: 40px;
        outline: none;
        padding: 0px 16px;
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        border-radius: 32px;
        vertical-align: middle;
        text-decoration: none;
        justify-content: center;
        background-color: #f2bc1b;
        box-shadow: 0px 0px 8px 0 rgba(0,0,0,.4);
        font-weight: 400;

    }


    .chip:hover{
      box-shadow: 0px 0px 16px 0 rgba(0,0,0,.4);

    }

    .chip h2{

        color: black;
    }


    .categories__title {
        padding: 16px 0 6px 0 ;
        color: white;
        font-size: 18px;
        
        width: 100%;
        font-weight: 100;
        
        
      }

      .categories__title span {
        padding: 0 32px 32px 0 ;
        color: white;
        font-weight: 900;

        
      }


      /* _______________________popular */

      .tag{
        margin: 0px 14px 14px 0px;
        display: inline-flex;
        flex-direction: row;
        border: none;
        cursor: pointer;
        height: 40px;
        outline: none;
        padding: 0px 16px;
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        border-radius: 8px;
        vertical-align: middle;
        text-decoration: none;
        justify-content: center;
        background-color: #2962ff;
        box-shadow: 0px 0px 8px 0 rgba(0,0,0,.4);
    }



    .tag:hover{
      box-shadow: 0px 0px 16px 0 rgba(0,0,0,.4);

    }

    .tag h2 {

        color: whitesmoke;
        

    }



      .popular__title {
        padding: 16px 0 16px 0;
        color: black;
        font-size: 18px;
        font-weight: bold;
        

      }

      .popular__title span {
        padding: 0 32px 32px 0 ;
        font-weight: 900;

        
      }

      .--button-text{

      display:flex;
      
      justify-content: flex-end;
      padding: 32px 16px;
      
      
        
      }

      .--button-text a{

        text-decoration: none;
        font-size: 18px; 
          
        }

     /* _______________________Menu */


.header {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,.4);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;

  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  .header li a {
    color: black;
    display: block;
    padding: 8px 32px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .header .logo {
    display: block;
    float: left;
    padding: 20px 20px;
    text-decoration: none;
  }

  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;

    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;

    padding: 28px 20px;
    position: relative;
    user-select: none;

  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

 
  

/* Details */

 details {

  /* display: block;  */
  outline-style: none; 
   
  
  padding-top: 2px;
  padding-left: 4%;
  padding-bottom: 2px;
  padding-right: 4%;
  
  background-color: white;
  cursor: text;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
  border-radius: 8px; 

}
details h2{

  color:black;

}

details:hover {

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.52);


}

 /* Delate markers in detals  */

details summary {
  display: block;
  outline-style: none;
  cursor: pointer;
  
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::before {
  content: none;
}
details[open] summary::before {
  content: none;
}



/* Opacity p */

details[open] p {
  animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

  


 /* 48em = 768px */

 @media screen and (min-width: 600px) {

  .information__image{
  
    width: 50%;
}

.information__txt{
  
  width: 50%;
  font-weight: 100;


}

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
  .grid-flex-home{

    padding: 0 15%;
  }
.--button-text{
  padding: 32px 20%;
}

  .footer-grid-flex{

    padding: 0 15%;
  }

.grid-brief{


  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas:
  "header header"
  "left left"
  "footer footer";
  height: 100vh;


  }
  
  
}




